body {
    background-color: #FFD700;
}
nav {
    background-color: #FFA07A;
}
h1 {
    color : #006400;
}
h2 {
    color: #006400;
}
h3 {
    color: #006400;
}
h4 {
    color: #006400;
}
h5 {
    color: #006400;
}
h6 {
    color: #006400;
}